.container {
  width: 80%;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}
.container fieldset form {
  background-color: yellow;
}
.container fieldset form label {
  margin-top: 10px;
  display: block;
  background-color: #8385DA;
}
.container fieldset form input {
  width: 50%;
}
.container fieldset form button {
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #CA83DA;
  color: white;
  border-radius: 5px;
  border-style: none;
}
